{% extends '_base_layout.html' %}

{% block cssinit %}
<link rel="stylesheet" href="{{webapp.statics.css.highlight_style|default('/assets/l/' + webapp.versions.library + '/css/highlight-tomorrow.min.css')}}">
<link rel="stylesheet" href="{{webapp.statics.css.bootstrap_markdown|default('/assets/l/' + webapp.versions.library + '/css/bootstrap-markdown.min.css')}}">
{% endblock %}

{% block jsinit %}
<script src="{{webapp.statics.js.highlight_pack|default('/assets/l/' + webapp.versions.library + '/js/highlight.pack.min.js')}}"></script>
<script src="{{webapp.statics.js.marked|default('/assets/l/' + webapp.versions.library + '/js/marked.min.js')}}"></script>
<script src="{{webapp.statics.js.bootstrap_markdown|default('/assets/l/' + webapp.versions.library + '/js/bootstrap-markdown.min.js')}}"></script>
<script src="/assets/l/{{webapp.versions.library}}/js/bootstrap-markdown.zh.min.js"></script>
<script src="{{webapp.statics.js.bootstrap_validator|default('/assets/l/' + webapp.versions.library + '/js/bootstrap-validator.min.js')}}"></script>
<script>
  hljs.initHighlightingOnLoad();

  var renderer = new marked.Renderer();
  renderer.code = function(code, language) {
  return '<pre><code class="hljs ' + language + '">' +
      hljs.highlight(language, code).value +
      '</code></pre>';
  };
  marked.setOptions({
  renderer: renderer
  });
</script>
{% endblock %}
