{% extends '_base_layout.html' %}

{% block cssinit %}
<link rel="stylesheet" href="{{webapp.statics.css.highlight_style|default('/css/highlight-tomorrow.min.css?v='+webapp.statics.version)}}">
<link rel="stylesheet" href="{{webapp.statics.css.bootstrap_markdown|default('/css/bootstrap-markdown.min.css?v='+webapp.statics.version)}}">
{% endblock %}

{% block jsinit %}
<script src="{{webapp.statics.js.highlight_pack|default('/js/highlight.pack.min.js?v='+webapp.statics.version)}}"></script>
<script src="{{webapp.statics.js.marked|default('/js/marked.min.js?v='+webapp.statics.version)}}"></script>
<script src="{{webapp.statics.js.bootstrap_markdown|default('/js/bootstrap-markdown.min.js?v='+webapp.statics.version)}}"></script>
<script src="/js/bootstrap-markdown.zh.min.js?v={{webapp.statics.version}}"></script>
<script src="{{webapp.statics.js.bootstrap_validator|default('/js/bootstrap-validator.min.js?v='+webapp.statics.version)}}"></script>
<script>
  hljs.initHighlightingOnLoad();

  var renderer = new marked.Renderer();
  renderer.code = function(code, language) {
  return '<pre><code class="hljs ' + language + '">' +
      hljs.highlight(language, code).value +
      '</code></pre>';
  };
  marked.setOptions({
  renderer: renderer
  });
</script>
{% endblock %}
