<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if webapp.meta.description %}<meta name="description" content="{{webapp.meta.description}}">{% endif %}
    {% if webapp.meta.keywords %}<meta name="keywords" content="{{webapp.meta.keywords}}">{% endif %}
    {% for meta in webapp.meta.extends %}<meta {{meta|htmline}}>{% endfor %}
    <title>{{webapp.title}}</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css?v={{webapp.statics.version}}">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css?v={{webapp.statics.version}}">
    <link rel="stylesheet" href="/css/font-awesome.min.css?v={{webapp.statics.version}}">
    {% block cssinit %}{% endblock %}
    <link rel="stylesheet" href="/css/style.min.css?v={{webapp.statics.version}}">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{webapp.title}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <form class="navbar-form" action="/search" method="GET" target="_blank">
              <div class="input-group search-bar">
                <input class="form-control" name="q" type="text" maxlength="1000" placeholder="搜索本站" />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>
            </form>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">首页</a></li>
            {% if not login_user %}
            <li><a href="/user/login">进入</a></li>
            {% if limits.active_join %}
            <li><a href="/user/register">加入</a></li>
            {% endif %}
            {% else %}
            <li {% if navbar == 'topic_create' %} class="active" {% endif %}><a href="/topic/create">新发表</a></li>
            <li {% if navbar == 'user_recent' %} class="active" {% endif %}><a href="/member/{{login_user.username}}/recent">我的发表</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class='glyphicon glyphicon-user'></span> {{login_user.username}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/member/{{login_user.username}}">我的主页</a></li>
                <li><a href="/user/settings">我的账号</a></li>
                <li class="divider"></li>
                <li><a href="/user/logout">退出</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        {% block container %}
        <div class="col-md-8">
          {% block body %}
          {% endblock %}
        </div>
        <div class="col-md-4">
          {% block sidebar %}
          {% include "_sidebar_normal.html" %}
          {% endblock %}
        </div>
        {% endblock %}
      </div>
    </div>

    <footer class="footer navbar-default">
      <div class="container">
        <div class="row">
          <p class="text-muted">Copyright &#9400; {{webapp.site.name}} All rights reserved. </p>
        </div>
      </div>
    </footer>

    <script src="/js/jquery.min.js?v={{webapp.statics.version}}"></script>
    <script src="/js/bootstrap.min.js?v={{webapp.statics.version}}"></script>
    {% block jsinit %}{% endblock %}
    {% if webapp.statics.analytics_ga %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{webapp.statics.analytics_ga}}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
