<div class="form-group">
  <label class="col-sm-3 control-label" for="captcha">机器识别</label>
  <div class="col-sm-5">
    <div class="input-group">
      <div class="input-group-addon" style="padding: 2px; margin: 0px;"><img src="/captcha" onclick="this.src='/captcha'"></div>
      <input class="form-control" id="captcha" name="captcha" type="text" data-minlength="8" maxlength="8" placeholder="输入8位识别码" required/>
    </div>
    <span class="help-block">点击图片刷新, 回退后<strong>需要</strong>手工刷新</span>
  </div>
</div>
