{% extends '_layout.html' %} {% block body %}

<div class="panel">
  <div class="panel-heading">
    {% if not current_node %}
    <h3 class="panel-title">最近主题</h3>
    {% else %}
    <h3 class="panel-title"><span>{{current_node.name}}</span>{% if login_user %}<span class='pull-right'><a href="/topic/create?node_id={{current_node.id}}" class="label label-success">快速发表</a></span>{% endif %}</h3>
    {% endif %}
  </div>
  <div class="panel-body">
    {% include '_topic_list.html' %}
  </div>
  <div class="panel-footer">{% if page > 1 %}<span><a href="/recent?page={{page-1}}" id="getmore">上一页</a></span>{% endif %}&nbsp;{% if has_next %}<span class='pull-right'><a href="/recent?page={{page+1}}" id="getmore">下一页</a></span>{% endif %}</div>
</div>

{% endblock %}
