<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">积分规则</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <span class="fa fa-user"></span>&nbsp;&nbsp;<span class="text-primary">注册用户获得</span>
      </div>
      <div class="col-xs-6">
        <span class="text-muted">{{limits.score.user_create}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <span class="fa fa-user"></span>&nbsp;&nbsp;<span class="text-primary">每日签到获得</span>
      </div>
      <div class="col-xs-6">
        <span class="text-muted">{{limits.score.user_active}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <span class="fa fa-file-word-o"></span>&nbsp;&nbsp;<span class="text-primary">创建话题消耗</span>
      </div>
      <div class="col-xs-6">
        <span class="text-muted">{{limits.score.topic_create}}</span>
      </div>
    </div>
    {% if limits.active_reply %}
    <div class="row">
      <div class="col-xs-6">
        <span class="fa fa-file-text-o"></span>&nbsp;&nbsp;<span class="text-primary">创建回复消耗</span>
      </div>
      <div class="col-xs-6">
        <span class="text-muted">{{limits.score.reply_create}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <span class="fa fa-file-text"></span>&nbsp;&nbsp;<span class="text-primary">收到回复奖励</span>
      </div>
      <div class="col-xs-6">
        <span class="text-muted">{{limits.score.reply_reward}}</span>
      </div>
    </div>
    {% endif %}
  </div>
</div>
