<ul class="media-list">
  {% for topic in topic_list %}
  <li class="media">
    {% if limits.active_reply %}
    <div class="pull-right">
      <span class="badge badge-success"><a href="/t/{{topic.id}}#{{topic.reply_count}}">{{topic.reply_count}}</a></span>
    </div>
    {% endif %}
    <a class="media-left" href="/u/{{topic.creator.id}}"><img class="img-rounded avatar-small" src="{{topic.creator.avatar|avatar}}" alt="avatar"></a>
    <div class="media-body">
      <p class="media-heading"><a href="/t/{{topic.id}}">{{topic.title}}</a></p>
      <p class="text-muted">
        {% if not current_node %}
        <span><a href="/go/{{topic.node.code}}">{{topic.node.name}}</a></span>&nbsp;•&nbsp;
        {% endif %}
        <span><a href="/u/{{topic.creator.id}}">{{topic.creator.username}}</a></span>&nbsp;•&nbsp;
        <span>{{topic.create_date|tsbeforetext}}</span>
        {% if limits.active_reply %}
        &nbsp;•&nbsp;
        {% if topic.update_creator %}
        <span>最后回复 <a href="/u/{{topic.update_creator.id}}">{{topic.update_creator.username}}</a></span>
        {% else %}
        <span>暂无回复</span>
        {% endif %}
        {% endif %}
      </p>
    </div>
  </li>
  {% endfor %}
</ul>
