{% extends '_base_layout.html' %} {% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">最近主题&nbsp;•&nbsp;{% if current_node.group %}{{current_node.group.name}}&nbsp;•&nbsp;{% endif %}<span class="text-muted">{{current_node.name}}</span>{% if login_user and current_node.id>0 %}<span class='pull-right'><a href="/topic/create?node_id={{current_node.id}}" class="label label-success">快速发表</a></span>{% endif %}</h3>
  </div>
  <div class="panel-body">
    {% include '_topic_list.html' %}
  </div>
  <div class="panel-footer clearfix">{% if page > 1 %}<span><a href="/go/{{current_node.code}}/recent?page={{page-1}}" id="getmore">上一页</a></span>{% endif %}{% if has_next %}<span class='pull-right'><a href="/go/{{current_node.code}}/recent?page={{page+1}}" id="getmore">下一页</a></span>{% endif %}</div>
</div>

{% endblock %}
