{% extends '_base_layout.html' %} {% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">节点&nbsp;•&nbsp;<span class="text-muted">{{current_node.name}}</span>{% if login_user && current_node.id>0 %}<span class='pull-right'><a href="/topic/create?node_id={{current_node.id}}" class="label label-success">快速发表</a></span>{% endif %}</h3>
  </div>
  <div class="panel-body">
    {% include '_topic_list.html' %}
  </div>
  <div class="panel-footer"><a href="/go/{{current_node.code}}/recent">更多新主题</a></div>
</div>

{% endblock %}
