{% extends '_base_layout.html' %} {% block body %}

<div class="panel">
  <div class="panel-body user-detail-heading">
    <div class="col-xs-3 hidden-xs">
      <img class="img-rounded avatar-large" src="{{current_user.avatar|avatar}}" alt="avatar">
    </div>
    <div class="col-xs-9">
      <h1>{{current_user.username}}</h1>
      <p class="text-muted">加入于:&nbsp;{{current_user.create_date|tsbeforetext}}</p>
      <p class="text-muted">现状态:&nbsp;{{current_user.status|kvmap(['正常','禁用'])}}{% if current_user.status %}, 于{{current_user.status_date|tsbeforetext}}{% endif %}</p>
      <p><span class="label label-info">个人主页:</span>&nbsp;&nbsp;<a href="{{current_user.homepage}}" target="_blank">{{current_user.homepage}}</a></p>
      <p><span class="label label-info">个性签名:</span>&nbsp;&nbsp;{{current_user.signature}}</p>
    </div>
  </div>
  {% if login_user && login_user.role > 0 && login_user.role > current_user.role %}
  <div class="panel-footer clearfix">
    <div class="pull-right manager-options">
      <form accept-charset="UTF-8" action="/user/manage/status" method="post" data-toggle="validator" role="form">
        <input type="hidden" name="_csrf" value="{{csrf}}"/>
        <input name="user_id" id="user_id" type="hidden" value="{{current_user.id}}" />
        <div class="row">
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary">改为</button>
          </div>
          <div class="col-xs-8">
            <select name="action" id="action" class="form-control" required>
              <option value="1" {% if current_user.status==0 %} selected {% endif %}>正常</option>
              <option value="2" {% if current_user.status==1 %} selected {% endif %}>禁用</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
</div>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><span>创建的主题</span><span class="badge pull-right">{{current_user.topic_count}}</span></h3>
  </div>
  <div class="panel-body">
    {% include '_topic_list.html' %}
  </div>
</div>

{% endblock %}
