{% extends '_layout.html' %} {% block body %}

<div class="panel">
  <div class="panel-body">
    <div class="col-md-3">
      <img class="img-rounded avatar-large" src="{{current_user.avatar|avatar}}" alt="avatar">
    </div>
    <div class="col-md-9">
      <h4>{{current_user.username}}</h4>
      <p class="text-muted">加入于{{current_user.create_date|tsbeforetext}}</p>
      <p><span class="label label-info">个人主页:</span>&nbsp;&nbsp;<a href="{{current_user.homepage}}">{{current_user.homepage}}</a></p>
      <p><span class="label label-info">个性签名:</span>&nbsp;&nbsp;{{current_user.signature}}</p>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><span>创建的话题</span><span class="badge pull-right">{{current_user.topic_count}}</span></h3>
  </div>
  <div class="panel-body">
    {% include '_topics.html' %}
  </div>
</div>

{% endblock %}
