* {
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: #f7f7f7;

    padding-top: 60px;
    margin-bottom: 40px;

    font-size: 14px;
    font-family: "FontAwesome","Arial","Microsoft YaHei", "sans-serif";
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    .container {
        padding: 0 15px;

        .text-muted {
            margin: 10px 0;
            text-align: center
        }
    }
}

.panel-heading {
    font-size: 18px;
    border-bottom: 1px solid #eee;
}

.panel-body {
    word-wrap: break-word;
    word-break: normal;
}

.panel-footer {
    background-color: #fff;
}

.badge-success {
    a {
        color:white
    }
}

.avatar-small {
    width: 48px; height: 48px;
}
.avatar-normal {
    width: 64px; height: 64px;
}
.avatar-large {
    width: 120px; height: 120px;
}

.topic-detail-heading {
    .pull-right {
        padding-top: 18px;
    }

    .text-muted {
        font-size: 12px;
    }

    h1 {
        font-size: 22px;
        margin: 5px 0;
    }
}

.user-detail-heading {
    h1 {
        font-size: 18px;
        margin: 10px 0;
    }
}

.markdown-fixed {
    img {
        max-width: 100%;
    }
    ul {
        padding: 0 18px;
    }
}

.media-list {
    li {
        border-bottom: 1px solid #eee;
    }

    .media-heading {
        a {
            font-size: 16px;
            color: #444;
        }
    }
}

.setting {
    margin-top: 20px;
    min-height: 300px;
}

.alert-avatar {
    margin-top: 20px;
}

.nav-tabs,.nav-pills{
    margin-bottom:20px;
}

.nav {
    .search-bar {
        width: 320px;
    }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.manager-options {
    .form-control {
        border: 0px;
    }
    .btn {
        border: 0px;
    }
}

.friend-link {
    .name {
        font-size: 16px;
    }
    .fa {
        color: #000;
    }
    .title {
        font-size: 14px;
        color: #333;
    }
}